button {
  width: 140px;
  height: 50px;
  color: blue;
  border: 0;
}

#canvas1 {
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
}

#ball_buttons {
  z-index: 0;
  position: relative;
}

#ball1 {
  background-color: burlywood;
  cursor: pointer;
}

#ball2 {
  background-color: grey;
  cursor: pointer;
}
